body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    background-color: white;
    color: rgb(66, 66, 66);
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}


input, textarea {
    font-size: 15px;
    background: rgb(199, 199, 199);
    border: none;
    vertical-align: middle;
    margin: none;
    opacity: 0.5;
    transition: opacity 200ms ease-in;
    color: rgb(71, 71, 71);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

input:hover, input:focus {
    opacity: 1;
}

button {
    font-size: 13px;
    color: rgb(68, 68, 68);
    background-color: transparent;
    border-radius: 2em;
    border: none;
    opacity: 0.7;
    transition: opacity 200ms ease-in;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

button:hover, button:focus {
    opacity: 1;
    cursor: pointer;
}

h2 {
    display: flex;
    justify-content: center;
}

.section-title {
    display: flex;
    justify-content: center;
    font-weight: bold;
    border-bottom: 1px solid rgb(66, 66, 66);
    margin-bottom: 10px;
}